<p-toast></p-toast>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="{{'NOUVEAU' | translate}}" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProjets()" [disabled]="!selectedProjets || !selectedProjets.length"></button>
        </ng-template>

        <ng-template pTemplate="right">
            <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="{{'IMPORT'|translate}}" class="mr-2 inline-block"></p-fileUpload>
            <button pButton pRipple label="{{'EXPORT'|translate}}" icon="pi pi-upload" class="p-button-help" (click)="onPrintListProject(false)"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt  [rows]="20" 
                  [paginator]="true"
                  class="p-table"
                  [scrollable]="true" 
                  [columns]="columns"
                  [value]="projetsList"
                  selectionMode="single"
                  styleClass="p-datatable-responsive-demo p-datatable-gridlines" 
                  responsiveLayout="scroll"
                  [(selection)]="selectedProject"
                  [rowHover]="true" dataKey="id"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  [showCurrentPageReport]="true">

        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between">
                <h5 class="m-0">{{'GESTION_PROJETS' | translate}}</h5>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="onSearchProject($event)" placeholder="{{'RECHERCHER' | translate }}..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns class="bg-th">
            <tr>
                <th style="width: 1rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> 
                <th *ngFor="let col of columns"
                    [pSortableColumn]="col.header"
                    [pSortableColumn]="col.field"
                    (click)="getSortColumn(col.field)">
                    {{col.header| translate }}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>{{'ACTIONS' | translate}}</th> 
            </tr> 
        </ng-template>

        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr class="" (click)="getObject(rowData)"
                [ngClass]="{'p-highlight': selectedData?.id == rowData.id}">
                <td>
                    <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                </td>
                <td *ngFor="let column of columns">
                    <span *ngIf="column.type == typeString"> {{rowData[column.field]}}</span>
                    <span *ngIf="column.type == typeDate"> {{rowData[column.field] | date: formatDate}}</span>
                    <span *ngIf="column.type == typeDateTime"> {{rowData[column.field] | date: formatDateTime}}</span>
                    <span *ngIf="column.type == typeNumber"> {{rowData[column.field] | number }}</span>
                    <span *ngIf="column.type == typeObject"> {{rowData[column.field].prenom}} {{rowData[column.field].nom}}</span>
                </td>
                <td class="d-flex">
                    <span class="btn-round btn btn-success mr-2" (click)="editProject(rowData)"><i class="pi pi-pencil"></i></span>
                    <span class="btn-round btn btn-danger mr-2" (click)="deleteProject(rowData)"><i class="pi pi-trash"></i></span>
                    <span class="btn-round btn btn-warning mr-2"><i class="pi pi-ellipsis-v"></i></span>
                </td>
            </tr>
        </ng-template> 

        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
              {{'TOTAL_PROJET' | translate}} {{projetsList ? projetsList.length : 0 }} {{ 'PROJETS' | translate}}{{projetsList && projetsList.length > 1 ? "s." : "." }}<!-- <span *ngIf="projets && projets.length > 1">s</span>. -->
            </div>
        </ng-template>

    </p-table>

<p-dialog [(visible)]="projectDialog" [style]="{width: '600px'}" header="Project Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="form" class="p-2">
            <div class="field row mb-2">
                <div class="col-md-3">
                    <label for="projectName">{{'INTITULE' | translate}}</label><span class="red-color">*</span>
                </div>
                <div class="col-md-9">
                    <input 
                        name="projectName" 
                        type="text"
                        pInputText 
                        class="form-control" 
                        id="projectName"  
                        autofocus 
                        formControlName="projectName"
                      />
                    <small class="invalid-feedback" *ngIf="submitted && (f['projectName'].errors?.['required'])">{{'ERROR_REQUIS' | translate}}</small>
                    <small class="invalid-feedback" *ngIf="(f['projectName'].touched || submitted) && (f['projectName'].errors?.['minlength'])">  {{"ERROR_4_CARACTERES" | translate}} </small>
                    <small class="invalid-feedback" *ngIf="(f['projectName'].touched || submitted) && (f['projectName'].errors?.['maxlength'])">  {{"ERROR_30_CARACTERES" | translate}} </small>
                </div>           
            </div>
            <div class="field row mb-3">
                <div class="col-md-3">
                    <label for="projectDescription">{{'DESCRIPTION' | translate}}</label>
                </div>
                <div class="col-md-9">
                     <textarea id="projectDescription" name="projectDescription"  class="form-control" pInputTextarea formControlName="projectDescription" rows="2" cols="20"  [ngClass]="{'is-invalid': !f['projectDescription'].valid}"></textarea>
                     <small class="p-error" *ngIf="(f['projectDescription'].touched || submitted) && (f['projectDescription'].errors?.['maxlength'])">{{"ERROR_150_CARACTERES" | translate}} </small>
                </div>
            </div>
            <div class="field row mb-2">
                <div class="col-md-3">
                    <label for="responsable">{{'RESPONSABLE' | translate}}</label>
                </div>
                <div class="col-md-5">
                    <p-autoComplete
                            [suggestions]="responsableProjet"
                            (completeMethod)="filterData($event)"
                            field="id" [dropdown]="true"
                            formControlName="projectResponsable"
                            (onSelect)="onSelectResponsable($event)"
                    >
                        <ng-template let-responsable pTemplate="item">
                            <span>{{responsable.prenom}} {{responsable.nom}}</span>
                        </ng-template>
                    </p-autoComplete>
                </div>
                <div *ngIf="projetOnner" class="col-md-4">
                    <span>{{projetOnner.prenom}} {{projetOnner.nom}}</span>
                </div>
            </div>
            <div class="field row mb-2">
                <div class="col-md-3">
                      <label for="projectDateDebut">{{'DATE_DEBUT' | translate}}</label>
                </div>
                <div class="col-md-9">
                    <input type="date" pInputText id="projectDateDebut" class="form-control" formControlName="projectDateDebut"/>
                    <small *ngIf="(f['projectDateFin'].touched || submitted) && f['projectDateDebut'].errors" class="invalid-feedback">
                         {{'DATE_DEBUT_INFERIEUR_DATE_FIN' | translate}}
                    </small>
                </div>
            </div>
            <div class="field row mb-2">
                <div class="col-md-3">
                     <label for="projectDateFin">{{'DATE_FIN' | translate}}</label>
                </div>
                <div class="col-md-9">
                    <input type="date" pInputText id="projectDateFin" class="form-control" formControlName="projectDateFin"/>
                    <small *ngIf="(f['projectDateFin'].touched || submitted) && f['projectDateFin'].hasError('dateInvalides')" class="invalid-feedback">
                       {{'DATE_FIN_SUPERIEUR_DATE_DEBUT' | translate}} 
                    </small>  
                </div>               
            </div>
     </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{'ANNULER' | translate}}" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{'ENREGISTRER' | translate}}" icon="pi pi-check" class="p-button-text" (click)="onSave()"></button>
    </ng-template>
</p-dialog>

 <p-confirmDialog [style]="{width: '500px'}"></p-confirmDialog>