
<div class="row"> 
  <div class="col-md-12">
    <div class="row">
        <div class="col-md-4">Nos coordonnees</div>
        <div class="col-md-4">Liens utiles</div>
        <div class="col-md-4">Nos services</div>
    </div>
    <div class="bg-light row">
            <div class="col-md-4">
                <img src="" alt="" src="">
        </div>
        <div class="col-md-4">
                <span class="text-justify">©Copyright <strong>Advance-It Group</strong> {{'COPYRIGHT'}}</span>
        </div>
        <div class="col-md-4">
                <span class="text-justify"><i class="fa fa-facebook"></i></span>
                <span class="text-justify"><i class="fa fa-linkdin"></i></span>
        </div>
    </div>
  </div>
</div>